spring:
  application:
    name: account-service

  datasource:
    url: jdbc:postgresql://localhost:5432/account_db
    username: postgres
    password: ""
    driver-class-name: org.postgresql.Driver

  jooq:
    sql-dialect: POSTGRES

  flyway:
    enabled: true
    locations: classpath:db/migration

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    dynamic: true

  logging:
    level:
      org.springframework.amqp: DEBUG